/* ROOT STYLING */
:root {
--lightColor: #fdfdfd;
--darkColor: #0d0d0d;

--primaryColor: #77c3b4;
--secondaryColor: #f3a366;
--primaryColorSoft: #f1f9f7;
--secondaryColorSoft: #fff6f0;

--generalSpacing: 16px; /* 1em */
--fontFamily: "Roboto";
}

/* GLOBAL STYLING */
.fullSection {
    height: 100vh;
}

.halfSection {
    height: 50vh;
}

.underline {
    border-bottom-color: var(--primaryColor);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    width: fit-content;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: 500;
}

/* BODY STYLING */
body {
    margin: 0;
    font-family: var(--fontFamily);
}

.light {
background-color: var(--lightColor);
color: var(--darkColor);
}

.dark {
background-color: var(--darkColor);
color: var(--lightColor);
}

.left {
    display: flex;
    align-items: flex-start;
}

.center {
    display: flex;
    align-items: center;
}

/* HEADER STYLING */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: var(--generalSpacing);
    background-color: var(--secondaryColor);

    position: sticky;
    top: 0;
}

.navList {
    list-style: none;
    display: flex;
    gap: 8px;
    color: var(--darkColor);
}

.icon {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.hamburgerIcon {
    display: none;
}

.nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
}

.navAnchor {
    color: inherit;
}

.navAnchor:hover {
    font-weight: 500;
}

/* HEADER TABLET AND BELOW*/
@media (max-width: 768px){
    .header {
        align-items: flex-start;
        padding-block: var(--generalSpacing);
    }

    .hamburgerIcon {
        display: block;
    }

    .navList {
        display: none;
    }

    .navHamburger {
        display: flex;
        flex-direction: column;
        gap: 8px;
    
        list-style: none;
        color: var(--darkColor);
        text-align: right;
    }
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; /* MIDLERTIDIG: Kanskje bytte plassering */
    padding-inline: 15%;

    /* Introduction img */
    background-image: url("../images/tempHeroImg.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;

    padding-top: 50px; /* MIDLERTIDIG: for header overlap */
}

.heroText {
    color: white;
    background-color: #16181Dff;
    width: 50%;
    padding: 16px;
}

.heroImg {
    display: none;
}

/* HERO TABLET AND BELOW*/
@media (max-width: 768px){
    .hero {
        flex-direction: column;
        padding-inline: 5%;
        background-image: none;
    }

    .heroText {
        width: 100%;
        background-color: inherit; /* Siden bakgrunnsbilde ikke er på liten skjerm endrer fargen dynamisk for fargebytte. */
        color: inherit; /* Siden bakgrunnsbilde ikke er på liten skjerm endrer fargen dynamisk for fargebytte. */
    }


    .heroSmall {
        width: 100%;
        overflow: hidden;
    }
    
    .heroImg {
        display: block;
        width: 100%;
        transform: scale(1.5);
        object-fit: cover;
      }
}

/* LANGUAGE SECTION */
.language {
    background-color: var(--primaryColorSoft);
    display: flex;
    align-items: center;
    justify-content: center;
}

.languageContainer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.languageCard {
    width: 33%; /* 100/3 bokser */
    height: 300px; /* Fast størrelse for å stabilisere boksene */
    display: flex;
    flex-direction: column;

    background-color: var(--primaryColor);
    border-radius: 10px;

    padding: 16px; /* Vurder padding globalt for flere elementer */
}

.languageCardDemo {
    flex-direction: column;
}

.languageCardText {
    width: 90%;
}

.languageCardDemoCss {
    color: var(--secondaryColor);
    text-shadow: 1px 1px 0 var(--darkColor);
}

/* LANGUAGE TABLET AND BELOW*/
@media (max-width: 768px){
    .halfSection {
        height: 100vh; /* Mobil bryter med 50vh */
    }

    .language {
        flex-direction: column;
        padding-inline: 5%; /* Vurder global på alle mobil brytepunkt */

        padding-top: 30px; /* Midlertidig for header overlap */
    }

    .languageContainer {
        flex-direction: column;
    }
    
    .languageCard {
        width: 100%;
    }
}

/* LEARNING SECTION */
.learning {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px; /* MIDERTIDIG: Vurdere å bytte til global */
    padding-inline: 15%;
}

.learningContainer {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.learningList {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    padding-left: 0;
}

.learningListItem {
    padding: 8px;
    background-color: var(--secondaryColorSoft);
    border: 0.5px solid var(--secondaryColor);
    border-radius: 10px;

    color: var(--darkColor);

    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Vurder om shadow er nødvendig eller ikke med fargebytte */
  }
  
  .learningListItem:hover {
    background-color: var(--secondaryColor);
    border-color: var(--);
    font-weight: 500;
  }

  .learningDisplayBox {
    height: 300px; /* Fast størrelse for å stabilisere boksene */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

/* LEARNING TABLET AND BELOW */
@media (max-width: 768px){
    .learning {
        flex-direction: column;
        padding-inline: 5%;

        padding-top: 30px; /* Midlertidig for header overlap */
    }

    .learningContainer {
        flex-direction: column;
    }
}

/* FOOTER STYLING */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
}

.credit {
    text-transform: uppercase;
}